@media (max-width: 760px){
    /* header */
    .burger-icon{
        display: block;
    }
    .nav-wrapper{
        display: none;
    }
    .header-box,
    .nav-ul{
        flex-direction: column;
    }
    .nav-ul{
        align-items: flex-end;
        justify-content: space-around;
    }
    .nav-wrapper.active{
        display: block;
    }
    /* main texts */
    .veritacl-main-page-text{
        font-size: 30px;
    }
    .main-page-text{
        max-width: 140px;
        width: 100%;
        font-size: 80px;
    }
}
@media (max-width: 590px){
    /* main texts */
    .veritacl-main-page-text{
        font-size: 20px;
    }
    .main-page-text{
        max-width: 100px;
        width: 100%;
        font-size: 60px;
    }
}
@media (max-width: 420px){
    .veritacl-main-page-text{
        font-size: 14px;
    }
    .main-page-text{
        max-width: 83px;
        width: 100%;
        font-size: 46px;
    }
}