@media (max-width: 760px){
    /* header */
    .burger-icon{
        display: block;
    }
    .nav-wrapper{
        display: none;
    }
    .header-box,
    .nav-ul{
        flex-direction: column;
    }
    .nav-ul{
        align-items: flex-end;
        justify-content: space-around;
    }
    .nav-wrapper.active{
        display: block;
    }
    /* main texts */
    .veritacl-main-page-text{
        font-size: 30px;
    }
    .main-page-text{
        max-width: 140px;
        width: 100%;
        font-size: 80px;
    }
}
@media (max-width: 590px){
    /* main texts */
    .veritacl-main-page-text{
        font-size: 20px;
    }
    .main-page-text{
        max-width: 100px;
        width: 100%;
        font-size: 60px;
    }
}
@media (max-width: 420px){
    .veritacl-main-page-text{
        font-size: 14px;
    }
    .main-page-text{
        max-width: 81px;
        width: 100%;
        font-size: 43px;
    }
}
@media (max-width: 900px){
    .content-box img{
        width: 400px;
    }
    .text-1{
        font-size: 15px;
    }
    .text-2{
        font-size: 25px;
    }
}
@media (max-width: 700px){
    .first-block-text{
        text-align: center;
        margin-bottom: 5px;
    }
    .content-box{
        flex-direction: column;
        align-items: center;
    }
    .content-box img{
        height: 200px;
    }
    .content-text-box{
        align-items: center;
        height: 150px;
    }
    /* equipment-box */
    .equipment{
        margin-top: 100px;
    }
    .equipment-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .head-equipment-text{
        text-align: center;
    }
    .advice-content{
        
        flex-direction: column-reverse;
    }
    .advice-img{
        margin: 0 auto;
    }
    .advice-img{
        margin-top: 250px;
        height: 300px;
    }
}
@media (max-width: 450px){
    .content-box img{
        width: 250px;
        height: 130px;
    }
    .text-2{
        font-size: 20px;
    }
}
@media (max-width: 1125px){
    .gallery-text{
        font-size: 28px;
    }
}
@media (max-width: 900px){
    .gallery-text{
        font-size: 23px;
    }
}
@media (max-width: 700px){
    .gallery-text{
        width: 100px;
        word-wrap: break-word;
        font-size: 16px;
    }
}
@media (max-width: 450px){
    .gallery-text{
        width: 70px;
        font-size: 13px;
    }
    .gallery-text-box{
        top: 35%;
    }
}
/* footer responsive */
@media (max-width: 800px){
    .footer-undet-text{
        display: none;
    }
    .footer-main-text{
        padding-bottom: 0px;
    }
}
@media (max-width: 400px){
    .footer-main-text{
        font-size: 15px;
    }
}
