@media (max-width: 860px){
    /* header */
    .burger-icon{
        display: block;
    }
    .nav-wrapper{
        display: none;
    }
    .header-box,
    .nav-ul{
        flex-direction: column;
    }
    .nav-ul{
        align-items: flex-end;
        justify-content: space-around;
    }
    .nav-wrapper.active{
        display: block;
    }
    /* slick-slider */
    .slick{
        padding-top: 25px;
    }
}