/* header */
.header-box{
    display: flex;
    justify-content: space-between;
}
.logo-box{
    margin-top: 25px;
    margin-left: 25px;
    width: 125px;
}
.logo{
    width: 100%;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.nav-a{
    margin: 15px;
    font-family: 'Bebas Neue';
    font-size: 18px;
    color: #000000;
    transition: all 0.5s ease-out;
}
.nav-a:hover{
    color: #178f39;
}
.fa-bars{
    position: absolute;
    font-size: 25px;
    color: #000000;
    top: 40px;
    right: 20px;
}
.burger-icon{
    display: none;
}
/* main-page */
.main-page{
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.main-page-text-box{
    margin-left: 10px;
    width: 30%;
    display: flex;
    align-items: center;
}
.veritacl-main-page-text{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    text-align: end;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}
.main-page-text{
    max-width: 170px;
    width: 100%;
    font-size: 103px;
    font-family: 'Roboto', sans-serif;
    color: #E4003B;
    text-align: start;
    word-wrap: break-word;
    margin-left: 2%;
}
.main-page-img{
    width: 65%;
}
.main-page-img img{
    width: 100%;
}