.header-box{
    display: flex;
    justify-content: space-between;
}
.logo-box{
    margin-top: 25px;
    margin-left: 25px;
    width: 125px;
}
.logo{
    width: 100%;
}
.nav-ul{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.nav-a{
    margin: 15px;
    font-family: 'Bebas Neue';
}
.fa-bars{
    position: absolute;
    font-size: 25px;
    color: #000;
    top: 40px;
    right: 20px;
}
.burger-icon{
    display: none;
}